.todo {
  display: flex;
  align-items: center;
  justify-content: left;
  min-width: 50vw;
  gap: 3rem;
  font-size: 1rem;
  text-align: left;

  input:checked{
    display: block;
  }

  .todo-done {
    text-decoration: line-through;
    color: #888;
    opacity: 0.6;
  }
}
